<p>コメント件数：<%= post_detail.comments.count %></p>
<table class="table">
  <% post_detail.comments.each do |comment| %>
  <tr>
  <th><%= attachment_image_tag  @user, :profile_image, format: 'jpeg', :size => "100x100", fallback: "no_image.jpg", style: "border-radius:50%;}" %></th>
    <th><%= comment.user.name %></th>
    <th><%= comment.comment_content %></th>
    <% if comment.user == current_user %>
    <div>
      <th><%= link_to "Destroy", post_comment_path(comment.post, comment), method: :delete, remote: true, class: 'btn btn-sm btn-danger' %></th>
    </div>
    <% end %>
  <% end %>
  </tr>
</table>