<h2 class="text-center">宣伝大使</h2>
<div class="user_picture d-flex align-items-center mb-2">
  <%= attachment_image_tag user, :profile_image, format: "jpeg", fallback: "no_image.jpg", style: "border-radius:50%;}" %><br>
</div>

  <table class="table">
    <tbody>
      <tr>
        <th class="text-nowrap">ユーザー名</th>
        <th><%= user.name %></th>
      </tr>
      <tr>
        <th class="text-nowrap">自己紹介</th>
        <th><%= user.biography %></th>
      </tr>
      <tr>
        <th>投稿数</th>
        <th><%= user.posts.count %></th>
      </tr>
    </tbody>
 </table>
<div class="row">
  <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block", method: :get do %>
   <i class="fas fa-user-cog"></i>
  <% end %>
</div>
