<%= render 'layouts/flash_messages' %>
<li><%= link_to " 新規投稿",  new_post_path,class: "btn btn-warning mr-3"%></li>

<li><%= link_to " ユーザー一覧",  users_path,class: "btn btn-warning mr-3"%></li>


    <%= form_with model: @post, url: posts_search_path, method: :get, local: true do |f| %>
      <%= f.collection_select :prefecture_id, Prefecture.all, :prefecture, :prefecture, {prompt: "選択"} %>
      <%= f.text_field :keyword, value: params[:keyword], placeholder: "キーワードを入力:例 山 川 ラーメン" %>
      <%= f.submit '検索' %>
    <% end %>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-1">
      <h2>魅力ランキング</h2>
        <table class="table">
         <thead>
           <th>順位</th>
           <th>都道府県</th>
           <th>魅力</th>
           <th colspan="3"></th>
         </thead>
         <tbody>
         <% @prefectures.each.with_index(1) do |(prefecture, charm_count), rank| %>
          <tr>
            <th><%= rank %></th>
            <th><%= prefecture %></th>
            <th><%= charm_count %></th>
          </tr>
          <% end %>
          </tbody>
        </table>
     </div>
  </div>
</div>





