
<div class="card col-sm-3 mx-auto mt-3">
  <div class="card-body">
    <h3 class="mt-1 mb-3">ログイン</h3>

    <% if devise_mapping.registerable? && controller_name != 'registrations' %>
      <%= link_to "会員登録がお済でない方はこちらから新規登録を行ってください", new_user_registration_path %>
    <% end %>

    <%= form_with model: resource, url: user_session_path(resource), local: true do |f| %>

      <div class="field">
        <%= f.label :email, class: "form-label" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :password, class: "form-label" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "ログイン", :class => "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
