<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/userinfo', user: @user %>
    </div>
    <div class="col-md-8 offset-md-1">
      <div class="card">
        <div class="card-body">
        <h2 class="card-title"><%= @post.title %></h2>
        </div>
        <img class="card-img-top">
        <%= attachment_image_tag @post, :post_image, format: 'jpeg', fallback: "no_image.jpg" %>
        </img>
        <div class="card-body">
          <h1 class="card-title"><%= (@post.prefecture.prefecture) + " " + (@post.address) %></h1>
          <p class="card-text"><%= @post.text %></p>
          <div class="d-grid gap-2 d-md-block">
            <% if @post.user.id == current_user.id %>
              <%= link_to "編集", edit_post_path(@post.id), class:'btn btn-sm btn-success' %>
              <%= link_to "削除", post_path(@post), method: :delete, "data-confirm" => "本当に消しますか?", class: 'btn btn-sm btn-danger'%>
              <i class="fas fa-heart charm-btn"></i>
              <%= @post.charms.count %>
            <% else %>
            <div id="charms_buttons_<%= @post.id %>">
              <%= render "charms/charms", post: @post %>
            </div>
          <% end %>
            <div class="text-right mb-2">
              <%= link_to "戻る", :back, class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>