
  <nav class="navbar navbar-expand-lg navbar-dark bg-light">
    <div class="container">


      <nav class="navbar-brand p-2">
        <!--サイトタイトルはロゴ画像に差し替え予定-->
          <%= link_to root_path do %>
          <%= image_tag "logo.png", :size => "110x110" %>
          <% end %>
      </nav>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <% unless current_page?(root_path) %>
            <li>
            <%= form_with model: @post, url: posts_search_path, method: :get, local: true do |f| %>
              <%= f.collection_select :prefecture_id, Prefecture.all, :prefecture, :prefecture, {prompt: "選択"} %>
              <%= f.text_field :keyword, value: params[:keyword], placeholder: "キーワードを入力:例 山 川 ラーメン" %>
              <%= f.submit '検索' %>
            <% end %>
            </li>
          <% end %>
          <% if user_signed_in? %>
            <li>ようこそ、<%= current_user.name %>さん！</li>
          <% end %>
        </ul>

        <ul class="navbar-nav ml-auto">
          <!--会員ログイン時-->
          <% if user_signed_in? %>
            <li><%= link_to " トップ", root_path, class: "btn btn-warning mr-3" %></li>
            <li><%= link_to " 投稿一覧", posts_path,class: "btn btn-warning mr-3"%></li>
            <li><%= link_to " マイページ", my_page_path,class: "btn btn-warning mr-3"%></li>
            <li><%= link_to " ログアウト", destroy_user_session_path, method: :delete ,class: "btn btn-warning mr-3"%></li>
          <!--ログイン前-->
          <% else %>
            <li><%= link_to " トップ", root_path ,class: "btn btn-warning mr-3"%></li>
            <li><%= link_to " 投稿一覧", posts_path ,class: "btn btn-warning mr-3"%></li>
            <li><%= link_to " 新規登録", new_user_registration_path ,class: "btn btn-warning mr-3"%></li>
            <li><%= link_to " ログイン", new_user_session_path ,class: "btn btn-warning mr-3"%></li>
          <% end %>
        </ul>
      </div>

    </div>
  </nav>